.body{

    margin-top: 0%;
    margin-left: 100px;
    margin-right: 100px;
}

.header-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 50px;
}

.hero-description{
    margin-top: 100px;
}

.hero-para{
    padding-right: 70px;
}



.header-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.section-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.section-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.chair-1{
    margin-left: 0%;
    padding-left: 0%;
}

.para{
    grid-column:2/-1;
    justify-content: space-between;
}

.cart{
    display: block;
    display: flex;
    gap: 200px;
}

.add{
    padding-top: 15px;
}
